@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Shadows+Into+Light&display=swap');

#titles{
    font-family: 'Shadows Into Light', sans-serif;
}

body{
    background-color: #171738;
    color: white;
    font-family:'IBM Plex Serif', sans-serif;
    font-size: 20px;
}

.imageCarousel{
    height: 700px; 
    width: 800px;
    display:block
}

.space{
    margin-left: 15%;
    margin-bottom: 4%;
}

.textSpace{
    margin-left: 10%;
    margin-right: 10%;
}

.SRtextSpace{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 7%
}


.SRtitles{
    margin-left: 10%;
    margin-right: 10%;
    font-size: 50px;
}

.minititles{
    margin-left: 5%;
    font-size: 30px;
}